/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  border: 1px solid #B3B3B3;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 720px;
  margin: 20px;
}

a:link, a:visited {
  color: #3b5998;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  font-size: 11px;
  padding: 24px 18px;
}

header h1 {
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 9px;
  padding: 2px 0 8px;
}

header #picture + div {
  margin-left: 82px;
}

header #picture {
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: 64px;
  float: left;
  margin-right: 18px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

header .tagline {
  float: left;
}

#share-app {
  float: right;
}

#share-app ul {
  float: right;
}

#share-app p {
  float: left;
  margin-left: 8px;
}

#share-app li {
  float: left;
  list-style: none;
  margin-left: 8px;
}
/* ------------------------------------------ */

/* =buttons
--------------------------------------------- */
.facebook-button:link, .facebook-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.facebook-button span {
  background: url("../images/sprites.png") no-repeat;
  padding: 0 7px 0 21px;
}

.facebook-button .speech-bubble {
  background-position: 6px 3px;
}

.facebook-button .plus {
  background-position: 6px -17px;
}

.facebook-button .apprequests {
  background-position: 6px -37px;
}

.button:link, .button:visited {
  background-color: #7a90c0;
  background-image: -moz-linear-gradient(top, #97afe2, #6073a1);
  background-image: -ms-linear-gradient(top, #97afe2, #6073a1);
  background-image: -o-linear-gradient(top, #97afe2, #6073a1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#97afe2), to(#6073a1));
  background-image: -webkit-linear-gradient(top, #97afe2, #6073a1);
  background-image: linear-gradient(top, #97afe2, #6073a1);
  border: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .33) inset;
  color: #1d222c;
  display: inline-block;
  font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 32px;
  padding: 0 25px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .2);
}
/* ------------------------------------------ */

/* =get started
--------------------------------------------- */
#get-started {
  height: 105px;
  text-align: center;
}

#get-started p {
  font-size: 24px;
  height: 23px;
  margin-bottom: 24px;
}

#get-started .logged-in input.search-box{
  width: 70%;
  height: 25px;
  font-size: 18px;
}

/* ------------------------------------------ */

/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

#centered-content{
  background: -o-linear-gradient(#E3EEF8, white) white !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#E3EEF8), to(white)) repeat-x, white !important;
  background: -moz-linear-gradient(90deg, white, #E3EEF8) repeat-x scroll 0 0 white !important;
  background: -o-linear-gradient(#E3EEF8, white) white !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3eef8', endColorstr='white') !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3eef8', endColorstr='white')" !important;
}

.help-block{
  color: #888;
  margin-bottom: 4px;
  font-size: 0.9em;
}

.hide{
  display: none;
}

.invisible{
  visibility: hidden
}

.well{
  min-height: 20px;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #C2C3C3;
}

#result_set{
  width: 85%;
  margin: 0 auto;
  padding-top: 10px
}

#result_set .content{
  margin-left: 60px;
}

#result_set .content_wrapper{
  margin-bottom: 15px;
}

#result_set .content_wrapper img.caption-image{
  max-width: 500px;
  max-height: 350px;
}

#result_set .mini-font{
  font-size: 0.8em !important;
}

.text-center{
  text-align: center;
}

.bg-grey{
  background-color: #F5F5F5;
}

.bg-highlight{
  background-color: #F7F7E0;
}

.has-above{
  margin-top: 5px;
}

iframe{
  margin-top: 10px; 
}

.footer-options .timeago{
  color: #999;
}

.separator{
  opacity: 0.6;
  background: url("/images/separator.gif") no-repeat center center;
  margin: 0 5px;
  display: inline-block;
  width: 6px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
}

.bold-font{
  font-weight: bold
}

